:root{
    --ghost-white: #ededf4;
    --taupe-gray: #88898e;
    --raisin-black: #101112;
    --night: #090a0b;
    --chocolate-cosmos: #641424;
    --madder: #b4001e;
}

body {
    width: 100%;
    background-color: var(--raisin-black);
}

/* utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

h1, h2 {
    font-family: 'Koulen';
    color: var(--ghost-white);
    text-shadow: 0 0 20px var(--madder);
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--ghost-white);
    font-size: 18px;
}

/* navbar-section */
.navbar {
    background-color: var(--night) !important;
}

.nav-item a {
    color: var(--ghost-white) !important;
    font-size: 24px;
    padding: 25px;
    text-indent: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    height: 80px;
}

li {
    list-style-type: none;
}

.list {
    display: flex;
}

.list li {
    color: var(--ghost-white);
    margin: 15px 15px;
    font-size: 20px;
}

.button {
    display: inline-block;
    background-color: var(--ghost-white);
    border: none;
    color: #fff;
    padding: 8px 30px;
    font-size: 18px;
}

/* end of navbar-section */

/* Jumbotron */
.jumbotron{
    display: flex;
    background: none;
    align-items: center;
}

.jumbotron img{
    height: 400px;
}
.jumbotron-title {
    font-family: 'Koulen';
    color: var(--ghost-white);
    text-shadow: 0 0 20px var(--madder);
    font-size: 48px;
    text-align: left;
}

.jumbotron-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 18px;
    padding-top: 1rem;
    text-align: left;
}

.jumbotron-image {
    margin-left: 19%;
    margin-top: 20px;
}

.display-1 {
    color: var(--ghost-white);
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    font-size: 80px;
    top: 20px;
    margin-left: 13%;
    position: relative;
}

/* end of Jumbotron*/
.search {
    margin-top: 20px;
}

#search-bar {
   background-color: transparent;
}

/* Generate Area!!! */
#container-rows {
    width: 100%;
    color: var(--ghost-white);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 500;
}

/* Previous-searches */
#prev-searches {
    width: 100%;
    color: var(--ghost-white)
    text-align: left;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* .prv-search {
    font-size: 2.8rem;
    text-align: center;
    color: #ff0000e0;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

#history-btn {
    color: var(--madder);
    background-color: #fff;
    border-color: var(--madder);
    border-radius: 0.5rem;
    padding: 8px;
}

#history-list{
    display: flex;
    flex-wrap: wrap;
}
.savedBtn{
    color: var(--madder);
    background-color: #fff;
    border-color: var(--madder);
    border-radius: 0.5rem;
    padding: 8px;
    margin-right: 1rem;
    margin-top: 1rem;
}
/*about-section*/
.about-section {
    color: var(--ghost-white);
    text-align: left;
    padding: 2%;
    margin: auto;
}

.about-section *{
    text-align: center;
}
/* .about-title {
    margin-top: 30px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color: rgb(255, 209, 109);
}

.about-description {
    margin-top: 20px;
    text-align: center;
    line-height: 2;
    font-family: fantasy;

} */

/* project-team section*/
#project-team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem; 
    background-color: transparent !important; 
    justify-content: center;
    align-items: center;
}

#team-members{
    display: flex;
    gap: 1rem;
}
.member{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.member img{
    max-width: 250px;
}

.member a{
   width: fit-content;
   justify-self: center;
   align-self: center;
}

.main-container {
    text-align: center;
}

.row {
    width: 1000px;
}

/* .heading {
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--madder);
    font-size: 30px;
    font-weight: bold;
} */

.btn-primary {
    color: var(--madder);
    background-color: #fff;
    border-color: var(--madder);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

}

/* .team {
    color: var(--madder);
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

/* end of project-team section*/

/* footer-section */
#footer {
    background-color:var(--night) !important;
}

.col-lg-6 {
    margin-top: 30px;
}

#bottom-section {
    color: #fff !important;
    margin-left: 90px;
}

/* footer-section */

/* Search History */
.savedBtn {
    color: #fff;
    background-color: #f00a0ae0;
    border-color: #fff;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1rem;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .jumbotron {
        display: flex;
        flex-direction: column;
    }

    .jumbotron img{
        display: none;
    }

    #team-members{
        display: flex;
        flex-direction: column;
    }
}
